<strong>Olá {{student}}</strong>
<p>
  Seja bem vindo à GymPoint, sua academia digital!<br />
  Confira abaixo os dados da sua matrícula:
</p>
<small>
  <b>Plano:</b> {{plan}}<br />
  <b>Duração:</b> {{duration}} mês(es)<br />
  <b>Valor:</b> R$ {{price}}/mês<br />
  <b>Data de Início:</b> {{startDate}}<br />
  <b>Data de Término:</b> {{endDate}}<br />
</small>
